body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    background-color: aquamarine;
    color: black;
    text-decoration: none;
    text-align: justify;
}

h1 {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    text-decoration: double;
    color: aqua;
    background-color: white;
}

h2 {
    font-size: 2rem;
    font-weight: 500;
    text-align: left;
    color: blanchedalmond;
    background-color: aqua;
}

img {
    display: block;
    margin: 0 auto;
}

.recipes {
    background-color: aqua;
    color: white;
    padding: 5px;
    border: 2px;
    border-color: black;
    border-radius: 10%;
    text-decoration: none;
    margin: 10px 5px;
    display: block;
}
